
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits           {:git/url "https://github.com/bithandshake/cljc-fruits"
                                             :sha     "186c09b3c8a39230075ecbc8bdb5b65374332f60"}
         bithandshake/cljc-hiccup-converter {:git/url "https://github.com/bithandshake/cljc-hiccup-converter"
                                             :sha     "031dce4493472968cc32e8cfb9e6b9dd79925816"}
         bithandshake/cljc-io               {:git/url "https://github.com/bithandshake/cljc-io"
                                             :sha     "c08567858edf03f50364cff2c59ef01504177952"}
         bithandshake/cljc-validator        {:git/url "https://github.com/bithandshake/cljc-validator"
                                             :sha     "bc737b71e9c2dcb0a071a565f10a201cf3929754"}
         com.draines/postal                 {:mvn/version "2.0.4"}
         org.clojure/clojure                {:mvn/version "1.10.1"}}}
